<div class ="title">
<h1 class="display-3 text-primary">  About Give and Take <h1>
</div>



<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Give and Take is where the world goes to shop, sell, and give. Our mission is to be the world's favorite destination for discovering great value and unique selection. </p>