// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.header{
    
    max-width: 500px;
    margin: auto;
    display: flex; 
    justify-content:space-between ;
}

.title{
    display: flex;
    flex-direction: row;
    content: 100%;
    justify-content:center ;
    max-width: 500px;
    margin: auto;
}

.container{

    max-width: 500px;
    content: 100%;
    margin: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

img {
    width: 400px
}

.form-control {
    width: 400px
}
